.fbStyle {
  border: none;
  padding: 0.5rem;
  color: white;
  background-color: blue;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.5s;
}
.fbStyle:hover{
    box-shadow: 1.5px 1.5px 2px pink ;
    transform: scale(1.05);
    
}
